.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 160px;
}

.h1 {
    font-family: var(--title-font);
    font-size: 48px;
    line-height: calc(48px*1.4);
    color: hsl(0, 0%, 98%);
    text-align: center;
}

.h2 {
    font-family: var(--title-font);
    font-size: 32px;
    line-height: calc(32px*1.4);
    color: hsl(0, 0%, 98%);
    text-align: center;
}