.article {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 16px;
    border-radius: 16px;

    color: var(--dark-font-color);
    overflow-wrap: break-word;
}

.article span {
    font-family: var(--legend-font-family);
    font-size: var(--legend-font-size);
    line-height: var(--legend-line-height);
}

.article h2 {
    font-family: var(--body-font-family);
    font-size: 20px;
    line-height: calc(20px * 1.4);
}

.article p {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.expandButton {
    all: unset;
    background-color: black;
    padding: 8px 32px;
    border-radius: 8px;

    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--light-font-color);
    text-align: center;

    cursor: pointer;
}