* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: relative;
    top: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 146, 146);
    font-family: 'Inter', sans-serif;
}

footer {
    width: 100%;
    margin-top: auto;
}

.container {
    width: 600px;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(75, 75, 75, 0.5)), url('../../public/images/ghostbg.jpg');
    background-size: cover;
    border-radius: 28px;
    border: 8px white solid;
    padding: 16px;
}