.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer span {
    font-family: var(--body-font-family);
    line-height: var(--body-line-height);
    color: var(--light-font-color);
}