.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    display: flex;
    gap: 32px;
}

.ul>li {
    list-style: none;
}

.ul>li>a {
    font-family: var(--body-font-family);
    line-height: var(--body-line-height);
    color: var(--light-font-color);
    text-decoration: none;
}

.header img {
    width: 36px;
}