.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    display: flex;
    gap: 4dvw;
}

.ul>li {
    list-style: none;
}

.ul>li>a {
    color: white;
    text-decoration: none;
}

.header img {
    width: 36px;
}
