.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 160px;
}

.h1 {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--light-font-color);
    text-align: center;
}

.h2 {
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-line-height);
    color: var(--light-font-color);
    text-align: center;
}